.featured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.featuredItem{
    position: relative;
    color: white;
    overflow: hidden;
    height: 250px;
}

.featuredImg{
   width: 100%; 
   object-fit: cover;
   z-index: 1;
}
.featuredTitles{
    position: absolute;
    bottom: 20px;
    left: 24px;

}
